:root{
    --cor-de-fundo:#faf7f7;
--verde:#7e11bd;
--branco:#1d0505; 
--botao-ativo:#fe0404; 
--texto-fundo:#413758;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family:'Times New Roman', Times, serif;
}
.conteudo-principal{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo.principal{
    text-align: center;
    width:100%;
    font-size: 32px;
    
}
.botao{
    font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #7cb4ce;    
color: #0b0616;
display: flex;
justify-content: center;
padding: 1 em;
font-size: 18px;
align-items: center;
width: 100%;

}  