:root{
    --cor-de-fundo:#000000;
--verde:#7e11bd;
--branco:#ffffff; 
--botao-ativo:#fe0404; 
--texto-fundo:#413758;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family:'Times New Roman', Times, serif;
}
.conteudo-principal{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo.titulo.principal{
    text-align: center;
    width:100%;
    font-size: 32px;
    
}